# CLion
cmake-build-debug/

# idea
build/
.idea/
out/

# idea scala
target/ 

# VS Code
.DS_Store

# PyCharm
venv/
RoadToMachineLearning/

# Android
.gradle/

# Visual Studio
.vs/
Debug/
Release/
*.ilk
*.pdb

# folder
c/

# CSharp
bin/
obj/