# CLion
cmake-build-debug/

# idea
build/
.idea/

# VS Code
.DS_Store

# PyCharm
venv/
RoadToMachineLearning/

# Android
.gradle/
gradle/

# Visual Studio
.vs/
Debug/
Release/

# folder
c/

# CSharp
bin/
obj/